* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
html {
    scroll-behavior: smooth;}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
:root {
    --main-color : #3C8DAD;
    --second-color : #A6D6D6;
    --padding-section : 60px
}
/* start component  */
.special-heading {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: var(--padding-section) 0;
}
.special-heading h2 {
    text-transform: capitalize;
    font-size: 45px;
}
.special-heading p {
    color: #777;
    margin-top: 10px;
}
/* end component  */
/************start header ****************/
.header {
    width: 100%;
    min-height: 100vh;
    padding: 2% 6%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../imgs/back-header.jpg);
    background-position: center;
    background-size: cover;
}
.head {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}
.header nav {
    flex: 1;
    justify-content: flex-end;
}
.header nav ul{
    display: flex;
    justify-content: flex-end;
}
.header nav ul li {
    margin-left: 15px;
    padding: 10px;
}
.header nav ul li::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: 0.5s;
}
.header nav ul li:hover::after{
    width: 100%;
}
.header nav ul li a {
    text-transform: capitalize;
    font-size: 20px;
    color: white;
}
.header nav ul li a.active{
    color: var(--second-color);
}
.header nav ul li a:hover{
    color: var(--second-color);
}
.head .fas {
    display: none;
}
@media (max-width:768px) {
    .header {
        overflow: hidden;
    }
    .header nav ul {
        display: block;  
        margin-top: 100px;
    }
    .header nav ul li {
        padding: 20px 0;
        margin: 0;
    }
    .header nav ul li a.active{
        color: white;
    }
    .header nav ul li:not(:last-of-type) {
        border-bottom: 1px solid var(--second-color);
    }
    .header nav ul li a{
        transition: 0.5s;
    }
    .header nav ul li::after {
        display: none;
    }
    .header nav ul li a:hover {
        padding-left: 10px;
        color: white;
    }
    .header nav {
        position: absolute;
        top: 0;
        right: -200px;
        background-color: var(--main-color);
        height: 100%;
        width: 200px;  
        padding: 10px 20px;
        z-index: 2;
        transition: 1s;
    }
    .head .fas {
        display: block;
        color: white;
        font-size: 20px;

    }
    .head .fa-bars {
        font-size: 30px;
    }
    .header .text {
        width: 500px;
    }
}
@media (max-width:600px) {
    .header .animation .fa-dragon {
        display: none;
    }
    .header .animation1 .fa-dragon {
        display: none;
    }
    .header .text {
        width: 300px;
    }
    .header .text h1 {
        font-size: 18px;
    }
}
.header img {
    width: 80px;
}
.header .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.header .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    animation: animate 15s ease-in-out infinite; 
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.header .animation1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    animation: animate1 15s ease-in-out infinite; 
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.header .animation .fa-dragon{
    font-size: 35px;
    color: var(--second-color);
 }
.header .animation1 .fa-dragon{
    font-size: 35px;
    color: var(--second-color);
 }

@keyframes animate {
    0% {
        transform: rotate(0deg) translateX(250px);
        transform-origin: 0 100%;
        perspective: 1000px;
    }
    100% {
        transform-origin: 0 100%;
        transform: rotate(360deg) translateX(250px);
        perspective: 1000px;
    }
} 
@keyframes animate1 {
    0% {
        transform: rotate(0deg) translateX(250px);
        transform-origin: 0 100%;
        perspective: 1000px;
    }
    100% {
        transform-origin: 0 100%;
        transform: rotate(-360deg) translateX(250px);
    }
} 
.header .text h1 {
    text-transform: capitalize;
}
.header .text p{
    margin-bottom: 40px;
    line-height: 1.8;
}
.header .text .btn-hd {
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    text-transform: capitalize;
    position: relative;
    border-radius: 5px;
}
.header .text .btn-hd:hover { 
    box-shadow: 0 0 5px var(--main-color), 0 0 15px var(--main-color), 0 0 30px var(--main-color);
    border-color:var(--main-color) ;
    background-color: var(--second-color);
} 
.header .text .btn-hd::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
}
.header .text .btn-hd::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
}
/************end header ****************/
/* start services  */
.servises {
    width: 80%;
    margin:auto;
}
.servises .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.servises .content:last-of-type{
    padding-top: 50px;
}
.servises hr {
    background-image: linear-gradient(to right,
    var(--second-color)  0%,
    var(--main-color) 50%,
    var(--second-color)  100%);
    height: 2px;
}
@media(max-width:992px) {
    .servises .content .box:nth-of-type(2) {
        flex-basis: 100%;
        order: -1;
    }
    .servises .content .box .gallery {
        margin: auto;
    }
    .servises .content .box .gallery1 {
        margin: auto;
    }
    .servises .content .box:first-of-type,
    .servises .content .box:last-of-type {
        flex: 45%;
        margin-top: 40px;
    }
    .servises .content .box .infos {
        flex-direction: column;
    }
    .servises .content .box .infos img {
        margin: auto;
    }
    .servises .content .box h4 {
        margin-top: 20px;
    }
    .servises .content .box .infos .text p:nth-of-type(1),
    .servises .content .box .text p:nth-of-type(2){
        text-align: center;
    }

}
@media(max-width:768px) {
    .servises .content {
        flex-direction: column;
    }
    .servises .content .box {
        align-items: center;
        justify-content: center;
    }
    .servises .content .box .infos img {
        margin: auto;
        padding-bottom: 10px;
    }
}
@media(max-width:388px) {
    .servises .content .box .gallery{
        /* display: none; */
        transform: scale(0.5);
    }
    .servises .content .box .gallery1{
        /* display: none; */
        transform: scale(0.5);
    }
    .servises .content .box {
        transform: translateX(-15px);
    }
    .servises .content .box .text p:first-of-type {
        padding-left: 0;
    }
}
@media(max-width:350px){
    .servises .content .box .gallery{
        display: none;
    }
    .servises .content .box .gallery1{
        display: none;
    }
    .servises .content .box {
        transform: translateX(-2px);
    }
}
.servises .content .box {
    flex-basis: 31%;
    text-align: center;
    padding: 5px;
}
.servises .content .box img {
    width: 60px;
    border-radius: 50%;
}
.servises .content .box i {
    font-size: 45px;
    color: var(--main-color);
}
.servises .content .box .text h3 {
    text-transform: capitalize;
    margin: 20px 0 10px;
    font-size: 25px;
}
.servises .content .box .text p {
    padding: 10px;
    line-height: 1.7;
}
.servises .content .box h4 {
    text-transform: capitalize;
    font-size: 20px;
}
.servises .content .box .infos {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
}
.servises .content .box .infos .text {
    text-align: left;
    text-transform: capitalize;
    margin-left: 10px;
}
.servises .content .box .infos .text p:first-of-type {
    padding-top: 0;
}
.servises .content .box .infos .text p:last-of-type {
    text-align: right;
    color: #777;
}
.servises .content .box .gallery { 
    width: 310px;
    height: 269px;
    animation: animateServices 15s ease-in-out infinite;
    border-radius: 10px;
}
 .servises .content .box .gallery1 {
    width: 310px;
    height: 269px;
    animation: animateServices1 15s ease-in-out infinite;
    border-radius: 10px;
}
@keyframes animateServices1 { 
    0% {
        background-image: url(../imgs/gallery-services-4.jpg);
    }
    50% {
        background-image: url(../imgs/gallery-services-5.jpg);
    }
    100% {
        background-image: url(../imgs/gallery-services-6.jpg);
    }
}
@keyframes animateServices { 
    0% {
        background-image: url(../imgs/gallery-services-1.jpg);
    }
    50% {
        background-image: url(../imgs/gallery-services-2.jpg);
    }
    100% {
        background-image: url(../imgs/gallery-services-3.jpg);
    }
}
/* end services  */
/* start videos  */
.videos {
    width: 100%;
    position: relative;
}
.videos video {
    width: 100%;
    object-fit: cover;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.videos .slide-video {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    display: flex;
    justify-content: space-between;  
}
.videos .slide-video img {
    width: 100px;
    border: 1px solid #777;
    border-radius: 5px;
    opacity: 0.5;
    transition: 1s;
}
.videos .slide-video img:hover{
    transform: scale(1.5);
    opacity: 1;
}
@media(max-width:600px) {
    .videos .slide-video {
        width: 250px; 
        bottom: 0;
    }
    .videos .slide-video img {
        width: 70px;
    }
    .videos .slide-video img:hover {
        width: 80px;
      
    }
}
/* end videos  */
/* start features  */
.features {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.features .content {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:768px) {
    .features .content {
        flex-direction: column;
    }
    .features .content .box {
        margin-bottom: 15px;
    }
}
.features .content .box {
    flex-basis: 31%;
    text-align: center;
    background-color: #a6d6d67e;
    padding: 10px 5px;
    border-radius: 10px;
}
.features .content .box:hover {
    box-shadow: 0 0 10px var(--main-color); 
}
.features .content .box i {
    font-size: 40px;
    color: var(--main-color);
}
.features .content .box .text {
    margin-top: 10px;
}
.features .content .box .text h3 {
    text-transform: capitalize;
    padding: 10px 0;
}
.features .content .box .text p{
    line-height: 1.7;
    padding: 5px;
}
/* end features  */
/* strat about  */
.about {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.about .content {
    display: flex;
    justify-content: space-between;
}
@media(max-width:768px) {
    .about {
        margin-top: -60px;
    }
    .about .content {
        flex-direction: column-reverse;
    }
    .about .content .text {
        align-items: center;
    }
    .about .content .image{
       width: 200px;
       margin: 0 auto 20px;
    }
    .about .content .text p {
        text-align: center;
    }
}
.about .content .text {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .content .text h3 {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 10px;
}
.about .content .text p:first-of-type {
    margin-bottom: 30px;
}
.about .content .text p {
    line-height: 1.7;
}
.about .content img {
    width: 400px;
    flex-basis: 45%;
}
/* end about  */
/* start contact  */
.contact .head-contact {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: var(--padding-section) 0;
    position: relative;
    height: 100px;
}
.contact .head-contact h2 {
    text-transform: uppercase;
    font-size: 105px; 
    position: absolute;
    top: 47%;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    background-color: white;
    width: 110%;
    height: 110px;
    mix-blend-mode:screen;  
}
@media(max-width:768px) {
    .contact .head-contact h2 {
        font-size: 40px;
    }
}
.contact .head-contact video {
    width: 100%;
    object-fit: cover;
    height: 100px; 
}
.contact-form {
    width:80%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--second-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
@media(max-width:768px) {
    .contact-form {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .contact-form .text-infos {
        padding: 10px;
        text-align: center;
    }
    .contact-form form .btn{
        display: block;
        margin: auto;
    }
}
.contact-form form {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
}
.contact-form form .input-text {
    height: 50px;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-color);
    color: white;
    transition: 1s;
}
.contact-form form .input-text:focus {
    background-color: var(--main-color);
    border-radius: 30px;
}
.contact-form form .input-textarea:focus {
    background-color: var(--main-color);
    border-radius: 30px;
}
.contact-form form .input-textarea {
    height: 150px;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-color);
    color: white;
    transition: 1s;
} 
.contact-form form input[type="submit"]{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border:1px solid white;
    outline: none;
    color: var(--main-color);
    display: flex;
    margin-left: auto;
    transition: 0.5s;
    text-align: center;
}
.contact-form form input[type="submit"]:hover{
    box-shadow:  0 0 5px var(--main-color);
}
.contact-form .text-infos {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-form .text-infos p {
    padding-bottom: 10px;
    text-transform: capitalize;
}
.contact-form .text-infos .icons {
    margin-top: 20px;
}
.contact-form .text-infos .icons i {
    font-size: 30px;
    color: var(--main-color);
    padding: 0 10px;
    transition: 0.7s;
}
.contact-form .text-infos .icons i:hover {
    transform: scale(1.5);
}
/* end contact  */
/* strat footer  */
.footer {
    width: 100%;
    background-color: var(--second-color);
    padding: 30px 0;
    text-align: center;
}
@media(max-width:768px){
    .footer .prg {
        font-size: 18px;
        font-weight: normal;
    }
}
.footer p {
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer p i {
    color: var(--main-color);
}
/* end footer  */